{% load static %}

<div>
    <div class="sm-modal-account">
        <div class="sm-modal_header"></div>

        <div class="sm-modal_body">
            <div class="sm-modal_input-line">
                <input id="title1" class="sm-input"
                       placeholder="Где вы храните деньги? *">
                <div class="sm-input_underline"></div>
                <div class="z-depth-3 sm-modal-icon">
                    <div class="sm-category_icon-wrapper">
                        <div class="sm-category_fill"
                             style="height: 0%"></div>
                        <div class="sm-category_icon sm-category_icon-cash"></div>
                    </div>
                </div>
            </div>

            <div class="sm-modal_input-line">
                <input id="amount" class="sm-input"
                       placeholder="Сколько там сейчас денег? ">
            </div>

            <div class="sm-modal_input-line sm-modal_input-currency">
                <div class="currency-input-label">Валюта</div>
                {{ ACCOUNT_CREATE_FORM.currency }}
            </div>

            <div class="sm-modal_input-line sm-modal_input-currency">
                <div class="account-checkbox-label">Учитывать в общем балансе?
                </div>
                <div class="switch">
                    <label class="" style="font-size: 16px; color: #000000">
                        Нет
                        {{ ACCOUNT_CREATE_FORM.take_into_balance }}
                        <span class="lever "></span>
                        Дa
                    </label>
                </div>
            </div>

        </div>

        <div class="sm-modal-footer">
            <input id="add-account" class="sm-modal_submit-button" type="button"
                   value="добавить">
        </div>

    </div>
</div>

<script src="{% static 'main/scripts/account/createAccount.js' %}">
</script>