<div>
    <div class="sm-modal-income">
        <div class="sm-modal_header">

        </div>

        <div class="sm-modal_body">
            <div class="sm-modal_input-line">
                <div style="width: 100%;">
                    <input id="title" class="sm-input"
                           placeholder="Откуда вы получаете доход? *">
                    <div class="sm-input_underline"></div>
                </div>
                <div class="z-depth-3 sm-modal-icon">

                </div>
            </div>
            <div class="sm-modal_input-line">
                <input id="plan" class="sm-input" type="number"
                       placeholder="Планируете получать в месяц">
            </div>
            <div class="sm-modal_input-line sm-modal_input-currency">
                <div class="currency-input-label">Валюта</div>
                {{ INCOME_CREATE_FORM.currency }}
            </div>
            <div class="sm-modal-footer">
                <input id="add-income" class="sm-modal_submit-button"
                       type="button"
                       value="добавить">
            </div>
        </div>
    </div>
</div>

<script>
    let incomeCreate = async (event) => {
        let body = {
            name: $('#title').val(),
            monthly_plan: $('#plan').val(),
            currency: $('#modal1 #id_currency').val(),
        };

        const csrftoken = $('input[name="csrfmiddlewaretoken"]').attr('value');
        let header = new Headers();
        header.append('X-CSRFToken', csrftoken);

        let response = await fetch('{% url 'create_income' %}',
            {
                method: 'PUT',
                body: JSON.stringify(body),
                headers: header,
                credentials: 'same-origin'
            }
        );
        if (response.ok) {
            const resp_body = await response.json();
            $('#title').val('');
            $('#plan').val('');
            $('#modal1').modal('close');
            addNewIncome(
                resp_body.id,
                resp_body.name,
                resp_body.currency,
                0,
                resp_body.monthly_plan);
        }
    };


    $(document).ready(() => {
        $('#add-income').on('click', incomeCreate)
    });

</script>