{% extends 'base.html' %}

{% block content %}
    <div class="sm-dashboard">
        <div class="sm-dashboard-body">
            <div class="sm-dashboard-column">
                <div class="sm-update-form z-depth-1">
                    {% include 'forms/update_delete_form_income.html' %}
                </div>
            </div>
            <div class="sm-dashboard-column">

            </div>
        </div>
    </div>
{% endblock %}

{% block scrypt %}
    let deleteNode = async (id) => {
        const body = {
            'id': id
        };

        const csrftoken = $('input[name="csrfmiddlewaretoken"]').attr('value');
        let header = new Headers();
        header.append('X-CSRFToken', csrftoken);

        let response = await fetch('{% url 'delete_income' %}',
            {
                method: 'PUT',
                body: JSON.stringify(body),
                headers: header,
                credentials: 'same-origin'
            }
        );

        if(response.ok){
            window.location.href = 'http://localhost:8000/user'
        }
    }
{% endblock %}