{% extends 'base.html' %}
{% load static %}

{% block buttons %}

    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="waves-effect waves-light btn"
           type="submit">LogOut, {{ user.username }}</a>
    {% else %}
        <a href="{% url 'login' %}" class="waves-effect waves-light btn"
           type="submit">Sign in</a>
        <a href="{% url 'register' %}" class="waves-effect waves-light btn"
           type="submit">Sign up</a>
    {% endif %}

{% endblock %}


{% block content %}
    {% csrf_token %}
    <div class="sm-dashboard">
        {% include 'transaction/add_transaction.html' %}
        <div class="sm-dashboard-body">
            <div class="sm-dashboard-column">
                <div class="sm-category-block sm-category-card">

                    <div class="sm-category-block_header">
                        <div class="sm-category-block_title">
                            <div class="sm-category-block_name">Доходы</div>
                            <div class="sm-category-block_date">апрель 2019
                            </div>
                        </div>
                        <div class="sm-category-block_stats">
                            <div class="sm-category-block_stats-item">
                                <div id="income_stat-income"
                                     class="sm-category-block_stats-amount">Br‎
                                    0
                                </div>
                                <div class="sm-category-block_stats-title">
                                    получено
                                </div>
                            </div>
                            <div class="sm-category-block_stats-item">

                                <div id="income_stat-plan"
                                     class="sm-category-block_stats-amount">Br‎
                                    160
                                </div>
                                <div class="sm-category-block_stats-title">
                                    бюджет доходов
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="income_table" class="sm-category-block_body">
                        {% for income in INCOMES %}
                            <div class="sm-category sm-category_income">
                                <div class="sm-category_title">
                                    {{ income.name }}
                                </div>
                                <div id="income_{{ income.id }}"
                                     class="sm-category_icon-wrapper">
                                    <div class="sm-category_fill"
                                         style="height: 0%"></div>
                                    <div class="sm-category_icon sm-category_icon-plant"></div>
                                </div>
                                <div class="sm-category_amount">
                                    <div class="sm-category_actual-amount">{{ income.currency }} {{ income.amount }}</div>
                                    <div class="sm-category_plan-amount">{{ income.monthly_plan }}</div>
                                </div>
                            </div>
                            <script>
                                $('#income_' + {{ income.id }}).on('click', (event) => window.location.href = 'http://localhost:8000/' + 'income/' + {{ income.id }});
                            </script>
                        {% endfor %}
                        <div class="sm-category sm-category_add-category">
                            <a class="sm-category_icon-wrapper modal-trigger"
                               href="#modal1">
                                <div class="sm-category_fill"></div>
                                <div class="sm-category_icon sm-category_icon-plus"></div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="sm-category-block sm-category-card">
                    <div class="sm-category-block_header">
                        <div class="sm-category-block_title">
                            <div class="sm-category-block_name">Счета</div>
                        </div>
                        <div class="sm-category-block_stats">
                            <div class="sm-category-block_stats-item">
                                <div id="accounts_stat" class="sm-category-block_stats-amount"> Br
                                    109
                                </div>
                                <div class="sm-category-block_stats-title">в
                                    наличии
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="account_table" class="sm-category-block_body">
                        {% for account in ACCOUNTS %}
                        <div class="sm-category sm-category_account {%if not account.take_into_balance%} excluded {%endif%}">
                            <div class="sm-category_title" title="кошелек">
                                {{ account.name }}
                            </div>
                            <div id="account_{{ account.id }}" class="sm-category_icon-wrapper">
                                <div class="sm-category_fill"></div>
                                <div class="sm-category_icon sm-category_icon-cash"></div>
                            </div>
                             <div class="sm-category_amount">
                                <div class="sm-category_actual-amount">{{ account.currency }} {{ account.amount }}
                                </div>
                            </div>
                        </div>
                        <script>
                        $('#account_' + {{ account.id }}).on('click', (event) => window.location.href = 'http://localhost:8000/' + 'account/' + {{ account.id }});
                        </script>
                        {% endfor %}
                        <div class="sm-category sm-category_add-category">
                            <a class="sm-category_icon-wrapper modal-trigger"
                               href="#modal2">
                                <div class="sm-category_fill"></div>
                                <div class="sm-category_icon sm-category_icon-plus"></div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="sm-category-block sm-category-card">
                    <div class="sm-category-block_header">
                        <div class="sm-category-block_title">
                            <div class="sm-category-block_name">расходы</div>
                            <div class="sm-category-block_date">апрель 2019
                            </div>
                        </div>

                        <div class="sm-category-block_stats">
                            <div class="sm-category-block_stats-item">
                                <div class="sm-category-block_stats-amount"> Br‎
                                    0
                                </div>
                                <div class="sm-category-block_stats-title">
                                    протрачено
                                </div>
                            </div>
                            <div class="sm-category-block_stats-item">
                                <div id="costs_stat" class="sm-category-block_stats-amount"> Br‎ 0</div>
                                <div class="sm-category-block_stats-title">
                                    бюджет расходов
                                </div>
                            </div>
                            <div class="sm-category-block_stats-item">
                                <div class="sm-category-block_stats-amount"> Br‎
                                    0
                                </div>
                                <div class="sm-category-block_stats-title">в
                                    планах
                                </div>
                            </div>
                            <div class="sm-category-block_stats-item">
                                <div class="sm-category-block_stats-amount">
                                    скоро
                                </div>
                                <div class="sm-category-block_stats-title">
                                    прогноз расходов
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="cost_table" class="sm-category-block_body">
                        {% for cost in COSTS %}
                        <div class="sm-category sm-category_expense sm-category_color_green">
                            <div class="sm-category_title">
                                {{ cost.name }}
                            </div>
                            <div id="cost_{{ cost.id }}" class="sm-category_icon-wrapper">
                                <div class="sm-category_fill"
                                     style="height: 100%"></div>
                                <div class="sm-category_icon sm-category_icon-car"></div>
                            </div>
                            <div class="sm-category_amount">
                                <div class="sm-category_actual-amount">{{ cost.currency }} {{ cost.amount }}
                                </div>
                                <div class="sm-category_plan-amount">{{ cost.monthly_plan }}</div>
                            </div>
                        </div>
                        <script>
                        $('#cost_' + {{ cost.id }}).on('click', (event) => window.location.href = 'http://localhost:8000/' + 'cost/' + {{ cost.id }});
                        </script>
                        {% endfor %}
                        <div class="sm-category sm-category_add-category">
                            <a class="sm-category_icon-wrapper modal-trigger"
                               href="#modal3">
                                <!-- Modal Trigger -->
                                <div class="sm-category_fill"></div>
                                <div class="sm-category_icon sm-category_icon-plus"></div>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

            <div class="sm-dashboard-column">
                <div class="sm-category-block sm-category-card">

                    <div class="sm-category-block_header">
                        <div class="sm-category-block_title">
                            <div class="sm-category-block_name">Транзакции</div>
                        </div>
                    </div>

                    <div class="sm-transaction-block">
                        {% for transaction in TRANSACTIONS %}
                        <div class="transaction z-depth-1">
                            <div class="transaction-from">
                                {{ transaction.transaction_from.name }}
                            </div>
                            <div class="transaction-icon-way_wrapper">
                                <div class="transaction-amount">
                                    {{ transaction.amount }}
                                </div>
                                <div class="transaction-icon-way">

                                </div>
                            </div>
                            <div class="transaction-to">
                                {{ transaction.transaction_to.name }}
                            </div>
                            <div class="transaction-date">
                                {{ transaction.date_from }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Доходы -->
    <div id="modal1" class="modal sm-modal">
        {% include 'income/create_modal.html' %}
    </div>

    <!-- Modal Счета -->
    <div id="modal2" class="modal sm-modal">
        {% include 'account/create_account.html' %}
    </div>

    <!-- Modal Расходы -->
    <div id="modal3" class="modal sm-modal">
        {% include 'cost/create_cost.html' %}
    </div>

    <script src="{% static 'main/scripts/addNewIncome.js' %}"></script>
    <script src="{% static 'main/scripts/addNewAccount.js' %}"></script>
    <script src="{% static 'main/scripts/addNewCost.js' %}"></script>

{% endblock %}


{% block scrypt %}
    $(document).ready(function(){
    $('.modal').modal();

    // add statistic for income

    updateIncomeStatistic();
    updateAccountStatistic();
    updateCostStatistic();
    // add statistic for income end


    });
{% endblock %}