{% extends 'base.html' %}


{% block content %}
<div class="banks">
    <div class="bank-form">
        <span style="font-size: 18px; font-family: 'Roboto', sans-serif">Load accounts list</span>
        <form method="post">
        {% csrf_token %}
        <input disabled type="text" class="" placeholder="login">
        <input disabled type="text" class="" placeholder="password">
        <button class="btn {{ button_color }}" type="submit" id="integrate">Integrate
        </button>
    </form>
    </div>

    <div class="load_csv">

        <form method="post" action="{% url 'uploadcsv' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ file_form.as_p }}
            <button class="btn {{ button_color }}" type="submit">Load</button>
        </form>
    </div>
</div>
{% endblock %}


{% block scrypt %}

    window.onload = function () {
    let button = document.getElementById('integrate');
    //button.form.submit();

    }

{% endblock %}