.header-sm {
    position: relative;
    height: 70px;
    z-index: 14;
    opacity: 0.85;
    background-color: rgb(255, 249, 249);
    /*box-shadow: 0 2px 9px rgba(0, 0, 0, .13);*/
}

.header-container {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    max-width: 1280px;
    padding: 0 55px;
}

.header-title {
    background-image: url('../img/spritesheet_1x.png');
    background-position: 0 -188px;
    width: 144px;
    height: 25px;
    background-repeat: no-repeat;
}

.header-logo {
    background-image: url('../img/spritesheet_1x.png');

    background-position: -260px -131px;
    width: 79px;
    height: 54px;
    background-repeat: no-repeat;
    border-radius: 11px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, .13);
    margin-right: 18px;
}

.header-left {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
}

.header-right {
    position: relative;
    right: -14px;
    height: 100%;
    width: 20%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.background {
    background-image: url("../img/Без имени-1.png");
    /*background-image: url("../img/tools.png");*/
    background-color: #efefec;
    position: fixed;
    width: 100%;
    height: 100%;
    /*background-size: 400px;*/
    z-index: -1;
}

.sm-dashboard {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    flex-flow: row;
    flex-wrap: wrap;

}

.sm-dashboard-top {
    width: 100%;
}

.sm-dashboard-body {
    width: 100%;
    padding-top: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: center;
    -ms-flex-align: start;
    align-items: center;
}

.username

.sm-dashboard-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.userpage-chart {

}

.sm-dashboard-column {
    width: 50%;
    box-sizing: border-box;
}

.sm-category-block {
    width: 540px;
}

.sm-category-card {
    border-radius: 4px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, .13);
    margin: 0 23px 30px 23px;
    position: relative;
}

.sm-category-block_header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    max-height: 140px;
    padding: 20px;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 1px solid #e8e7e7;
    background-color: rgb(249, 249, 249);
    color: #797878;
}

.sm-category-block_body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 15px 17px 0;
    background-color: rgba(255, 255, 255, 0.79);
}

.sm-category-block_title {

}

.sm-category-block_name {
    text-transform: uppercase;
}

.sm-category-block_date, .sm-category-block_stats-title {
    margin-top: 0px;
    text-transform: lowercase;
    font-size: 12px;
    color: #9a9898;
}

.sm-category-block_stats {
    width: 310px;
    text-align: right;
}

.sm-category-block_stats-item {
    display: inline-block;
    width: 130px;
    margin: 0 0 16px 20px;
    text-align: right;
}

.sm-category-block_stats-amount {

}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    color: #64635f;
}

.sm-category {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    width: 120px;
    margin: 0 3px 15px;
    z-index: 1;
}

.sm-category_add-category {
    padding: 38px 0 40px;
}

.sm-category_icon-wrapper {
    position: relative;
    margin: 10px 0;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    /*background: #c1c5c9;*/
    cursor: pointer;
}

.sm-category_icon-wrapper:hover {
    background-color: #d6d6d6;
}

.sm-modal-income .sm-category_icon-wrapper {
    background-color: #0a93d1;
}

.sm-modal-account .sm-category_icon-wrapper {
    background-color: #f9a825;
}

.sm-modal-cost .sm-category_icon-wrapper {
    background-color: #03a879;
}

.sm-category_fill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sm-category_icon-plus:before {
    width: 20px;
    height: 2px;
}

.sm-category_icon-plus:after {
    width: 2px;
    height: 20px;
}

.sm-category_icon-cash {
    background-image: url("https://coinkeeper.me/content/img/sprites/web_1x.png");
    background-position: -368px -46px;
    width: 37px;
    height: 37px;
    background-repeat: no-repeat;
    margin: auto;
}

.sm-category_add-category .sm-category_icon-wrapper:hover {
    border-color: #b6b3b3;
}

.sm-category_add-category .sm-category_icon-wrapper:hover .sm-category_icon:before, .sm-category_add-category .sm-category_icon-wrapper:hover .sm-category_icon:after {
    background-color: #b6b3b3;
}

.sm-category_add-category .sm-category_icon-wrapper {
    background-color: transparent;
    border: 2px solid #dedcdc;
    box-shadow: none;
}

.sm-category_edit {
    display: none;
    position: absolute;
    top: 45px;
    right: 1px;
    width: 18px;
    height: 18px;
    fill: #d5d5d5;
    cursor: pointer;
    z-index: 3;
}

.sm-category_expense {

}

.sm-category_color_green .sm-category_fill {
    background-color: #0ac38e;
}

.sm-category_expense .sm-category_fill {
    background-color: #0ac38e;
}

.sm-category_color_green .sm-category_actual-amount {
    color: #0ac38e;
}

.sm-category_expense .sm-category_actual-amount {
    color: #03a879;
}

.sm-category_icon-car {
    background-image: url("https://coinkeeper.me/content/img/sprites/web_1x.png");
    background-position: -322px -46px;
    width: 37px;
    height: 37px;
    background-repeat: no-repeat;
    margin: auto;
}

.modal > div > div > div.sm-modal_body > div:nth-child(1) > div.z-depth-3.sm-modal-icon > div {
    margin: 0px 0px 0px 0px;
    width: 80px;
    height: 80px;
}

.sm-category_account .sm-category_fill, .sm-category_bankaccount .sm-category_fill, .sm-category_debtaccount .sm-category_fill, .sm-category_classicgoal .sm-category_fill {
    background-color: #fc0;
}

.sm-category_account .sm-category_actual-amount, .sm-category_bankaccount .sm-category_actual-amount, .sm-category_debtaccount .sm-category_actual-amount, .sm-category_classicgoal .sm-category_actual-amount {
    color: #f9a825;
}

.sm-category_icon-plus:before, .sm-category_icon-plus:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #dedcdc;
    content: '';
}

.sm-category_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 37px;
    height: 37px;
    margin: auto;
    background-image: url("https://coinkeeper.me/content/img/sprites/web_1x.png");
}

.sm-category_icon-plant {
    background-image: url("https://coinkeeper.me/content/img/sprites/web_1x.png");
    background-position: -138px 0;
    width: 37px;
    height: 37px;
    background-repeat: no-repeat;
    margin: auto;
}

.sm-category_amount {
    padding: 4px 0;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
}

.sm-category_actual-amount {
    height: 16px;
    line-height: 16px;
    font-weight: 500;
    font-size: 16px;
}

.sm-category_income .sm-category_actual-amount {
    color: #0a93d1;
}

.sm-category_plan-amount {
    font-size: 13px;
    color: #9a9898;
}

.sm-category_income .sm-category_icon-wrapper {
    background-color: #0491d1;
}

.sm-category_income .sm-category_icon-wrapper:hover {
    background-color: #0b9ee1;
}

.sm-category_income .sm-category_fill {
    background-color: #03bded;
}

.sm-category_icon-plus {
    background-image: none;
}

.sm-category_income {

}

.sm-category_account {

}


.sm-category_title {
    width: 100%;
    height: 38px;
    overflow: hidden;
    line-height: 38px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    color: #4f4f4f;
}


.add-transaction_wrapper {
    margin: 0 20px;
}

.add-transaction_text {
    display: inline-block;
    vertical-align: middle;
}

.sm-add-transaction_state_standby {

}

.add-transaction_placeholder {
    margin: 0;
}

.sm-fade + .add-transaction {
    z-index: 401;
}

.sm-add-transaction_submit::before {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -11px;
    margin-top: -11px;
    background-image: url("https://coinkeeper.me/content/img/sprites/spritesheet_1x.png");
    background-position: -240px -138px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    content: '';
}

.sm-add-transaction__submit[disabled] {
    cursor: default;
    opacity: .5;
}

.sm-add-transaction_submit[disabled] {
    cursor: default;
    opacity: .5;
}

.sm-add-transaction_submit {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 66px;
    background-color: #0eac7f;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.add-transaction {
    width: 100%;
    height: 66px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, .13);
    background-color: #fff;
    position: relative;
    border-radius: 4px;
    line-height: 66px;
    padding: 0 86px 0 20px;
    font-weight: 300;
    color: #757474;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 16px;
    z-index: 3;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.sm-container {
    margin: auto;
    max-width: 1280px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 30px 55px 90px;
}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}


/* INCOME MODAL STYLES*/

.sm-modal {
    width: 30%;
    border-radius: 10px;
}

.sm-modal-income {
    background-color: #0a93d1;
    opacity: 0.85;
}

.sm-modal-account {
    background-color: #ffab00;
}

.sm-modal-cost {
    background-color: #0ac38e;
}

.account-checkbox-label {
    color: #dbdbdb;
    font-size: 18px;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #F44336;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #E57373;
}

.sm-modal_header {

}

.sm-modal_body {
    background-color: rgba(146, 146, 146, 0.17);
    display: flex;
    flex-flow: column;
}

.sm-modal_input-line {
    height: 100px;
    padding: 30px 40px 0px 40px;
    border: none;
    border-bottom: 1px solid #4f4f4f;
    display: flex;
    justify-content: space-between;
}

.sm-modal-icon {
    border-radius: 40px;
    height: 80px;
    width: 100px;
    margin: -20px 0px 0px 0px;
    /*background-color: #0b9ee1;*/
}

.sm-input {

}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: none;
    margin-bottom: 0px;
    font-size: 18px;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sm-modal_input-currency {
    display: flex;
    flex-flow: row;
}

.currency-input-label {
    padding: 10px 30px 30px 0px;
    font-size: 18px;
    color: #dbdbdb;
}

.caret {
    display: none;
}

div .select-wrapper input {
    text-align: end;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: none;
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #000000;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    text-align: end;
}

.select-dropdown {
}

select {
    display: block;
    background-color: unset;
    width: 50%;
    padding: 5px;
    border: none;
    height: 3rem;
    text-align-last: end;
}

* {
    outline: none !important;
}

.sm-modal_submit-button {
    color: #dbdbdb;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.sm-modal-footer {
    background-color: rgba(0, 4, 34, 0.2);
    height: 80px;
    border: none;
    color: #ffffff;
}

.sm-modal-footer:hover {
    background-color: rgba(0, 6, 255, 0);
}

/* INCOME MODAL STYLE END*/

.sm-update-form {
    border-radius: 10px;
    background-color: rgba(254, 250, 255, 0.33);
    padding: 30px 60px 30px 60px;
}

form input[type=text]:not(.browser-default), form p input[type=number]:not(.browser-default), form p input[type=email]:not(.browser-default), form input[type=password]:not(.browser-default) {
    border-bottom: 1px solid #9e9e9e;
}


form p input[type=number]:not(.browser-default):focus:not([readonly]), form p input[type=text]:not(.browser-default):focus:not([readonly]), form p input[type=password]:not(.browser-default):focus:not([readonly]), form p input[type=email]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #e57373;
    -webkit-box-shadow: 0 1px 0 0 #e57373;
    box-shadow: 0 1px 0 0 #e57373;
}

.btn-box {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    margin-top: 20px;
}

body > header > div > div.header-right > a {
    margin-top: 0px;
}

form p select {
    width: 40%;
    text-align-last: center;
    margin: 0 30% 0 30%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.sm-fade + .sm-add-transaction {
    z-index: 401;
}

.sm-fade {
    position: fixed;
    background-color: rgba(242, 242, 242, .8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 400;
}

/* ADD TRANSACTION */

.add-transaction_step {
    white-space: nowrap;
    /*height: 100%;*/
    display: inline-block;
    vertical-align: middle;
    display: flex;
    flex-flow: row;
}

.transaction-steps {
    display: flex;
    flex-flow: row;
}

.sm-add-transaction input {
    font-weight: 300;
    min-height: 20px;
    color: #757474;
    font-size: inherit;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    max-width: 200px;
}

.sm-add-transaction span {
    font-weight: 300;
    min-height: 20px;
    color: #757474;
    font-size: inherit;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    max-width: 200px;
}

.sm-dropdown {
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, .17);
    font-family: "Roboto", sans-serif;
    z-index: 2;
}

.sm-dropdown__list {
    max-height: 170px;
    overflow: hidden;
    overflow-y: auto;
}

.sm-dropdown-list__item {
    height: 34px;
    min-width: 200px;
    max-width: 320px;
    color: #404040;
    font-size: 16px;
    line-height: 34px;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-transaction_step select {
    width: 100%;
    height: 100%;
    margin: auto 5px auto 5px;
    text-align-last: center;
    font-family: 'Roboto', sans-serif;
    color: #757474;
}

#id_amount {
    margin: auto 10px auto;
    border-bottom: 1px solid #9e9e9e;
    text-align-last: center;
    color: #757474;
}

#step_4 > input {
    width: 100%;
    min-height: 46px;
    margin: auto 5px auto 5px;
    text-align-last: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-bottom: 1px solid #9e9e9e;
    color: #757474;
    font-size: 18px;
}

.datepicker-table td.is-today {
    color: #e57373;
}

.datepicker-table td.is-selected {
    background-color: #e57373;
    color: #fff;
}

.datepicker-date-display {
    background-color: #e57373;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #e57373;
    padding: 0 1rem;
}

#step_4 > input:focus, #step_3 > input:focus {
    border-bottom: 1px solid #e57373;
    -webkit-box-shadow: 0 1px 0 0 #e57373;
    box-shadow: 0 1px 0 0 #e57373;
}

.datepicker-select {
    display: none;
}

/* ADD TRANSACTION END */

form .switch {
    margin: 5px 30% 5px 30%;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

/* TRANSACTION BLOCK */

.sm-transaction-block {
    display: flex;
    flex-flow: column;
    padding: 0px 17px 15px;
    cursor: pointer;
    background-color: #ffffff;
    opacity: 0.85;
}

.transaction {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin-top: 15px;
}

.transaction-from {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 26px 0px
}

.transaction-to {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 26px 0px
}

.transaction-icon-way_wrapper {
    display: flex;
}

.transaction-date {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 26px 0px;
    color: #9a9898;
    position: absolute;
    padding: 25px 0 0 360px;
}

.transaction-icon-way {
    display: inline-block;
    margin-left: -117px;
    background-image: url('../img/Волшебная_Палочка_2.png');
    width: 117px;
    height: 64px;
    background-repeat: no-repeat;
    margin-top: 7px;
}

.transaction-amount {
    width: 117px;
    min-height: 20px;
    display: inline;
    margin: 15px 50px 0 0;
    text-align: center;
}

/* TRANSACTION BLOCK END */

.sm-c_acc_stat {
    width: 100%;
}

.sm-account-chart {
    width: 120%;
    margin: 0 0 0 20px;
    border-radius: 10px;
    background-color: rgba(254, 250, 255, 0.8);
    padding: 10px 20px 10px 40px;
}

.chart {
    margin-bottom: 20px;
    margin-left: 30px;
}

.chart_account_statistic {
    display: flex;
}

.chart_account_statistic > .chart {
    margin-left: 0px;
    margin-right: 60px;
}

rect {
    opacity: 0.5;
}


.row .col {
    padding: 0 0;
}

.tabs {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 249, 249, 0.73);
    font-size: 18px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, .13);
}

.transaction-table-buttons {
    display: flex;
    justify-content: space-between;
}

.transaction-table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: space-around;
    border-radius: 10px;
    background-color: rgba(254, 250, 255, 0.61);
    padding: 30px 60px 30px 60px;
}

table {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

table.highlight > tbody > tr:hover {
    background-color: rgba(255, 199, 199, 0.5);
}

.transaction-selector {
    display: flex;
}

.transaction-selector span {
    display: inline-block;
    margin: 12px 10px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.transaction-selector input[type=date] {
    border-bottom: 2px solid #e67372;
    /* background-color: #ffdada; */
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 5px;
    height: 35px;
    padding-top: 10px;
}

.transaction-table-header {
    display: flex;
    justify-content: space-between;

}

.choice-trans-table-val {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    width: 80px;
    /*margin-top: -40px;*/
}

.choice-trans-table-val:hover {
}

.choice-trans-table-val a {
    margin: 0;
    padding: 0;
}

body > main > div > div.transaction-table-header > div:nth-child(3) > a {
    width: 80px;
}

.hidden {
    display: none;
}

tr {
    cursor: pointer;
}