{% extends 'base.html' %}
{% load static %}



{% block content %}
    <div class="sm-dashboard">
        <span style="alignment: center">
            <a href="{% url 'report_parameters' %}" class="waves-effect waves-light btn"
               type="submit">Report</a>
            <a href="{% url 'bank_integration' %}" class="waves-effect waves-light btn"
               type="submit">Integrate with bank</a>
            <a href="{% url 'edit_user' %}" class="waves-effect waves-light btn"
               type="submit">User info</a>
        </span>
        {% include 'transaction/add_transaction.html' %}
        <div class="sm-dashboard-body">
            <div class="sm-dashboard-row">

                <div class="sm-category-block sm-category-card">

                    <div class="sm-category-block_header">
                        <div class="sm-category-block_title">
                            <div class="sm-category-block_name">Доходы</div>
                            <div class="sm-category-block_date">апрель 2019
                            </div>
                        </div>
                        <div class="sm-category-block_stats">
                            <div class="sm-category-block_stats-item">
                                <div id="income_stat-income"
                                     class="sm-category-block_stats-amount">Br‎
                                    0
                                </div>
                                <div class="sm-category-block_stats-title">
                                    получено
                                </div>
                            </div>
                            <div class="sm-category-block_stats-item">

                                <div id="income_stat-plan"
                                     class="sm-category-block_stats-amount">Br‎
                                    160
                                </div>
                                <div class="sm-category-block_stats-title">
                                    бюджет доходов
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="income_table" class="sm-category-block_body">
                        {% for income in INCOMES %}
                            <div class="sm-category sm-category_income">
                                <div class="sm-category_title">
                                    {{ income.name }}
                                </div>
                                <div id="finNode_{{ income.id }}"
                                     class="sm-category_icon-wrapper">
                                    <div class="sm-category_fill"
                                         style="height: 0%"></div>
                                    <div class="sm-category_icon sm-category_icon-plant"></div>
                                </div>
                                <div class="sm-category_amount">
                                    <div class="sm-category_actual-amount">{{ income.currency }} {{ income.amount }}</div>
                                    <div class="sm-category_plan-amount">{{ income.monthly_plan }}</div>
                                </div>
                            </div>
                            <script>
                                $('#finNode_' + {{ income.id }}).on('click', (event) => goToPage('{% url 'update_income' pk=income.id %}'));
                            </script>
                        {% endfor %}
                        <div class="sm-category sm-category_add-category">
                            <a class="sm-category_icon-wrapper modal-trigger"
                               href="#modal1">
                                <div class="sm-category_fill"></div>
                                <div class="sm-category_icon sm-category_icon-plus"></div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="userpage-chart">
                    <div id="chart_income"></div>
                </div>

            </div>
            <div class="sm-dashboard-row">

                <div class="sm-category-block sm-category-card">
                    <div class="sm-category-block_header">
                        <div class="sm-category-block_title">
                            <div class="sm-category-block_name">Счета</div>
                        </div>
                        <div class="sm-category-block_stats">
                            <div class="sm-category-block_stats-item">
                                <div id="accounts_stat"
                                     class="sm-category-block_stats-amount"> Br
                                    109
                                </div>
                                <div class="sm-category-block_stats-title">в
                                    наличии
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="account_table" class="sm-category-block_body">
                        {% for account in ACCOUNTS %}
                            <div class="sm-category sm-category_account {% if not account.take_into_balance %} excluded {% endif %}">
                                <div class="sm-category_title" title="кошелек">
                                    {{ account.name }}
                                </div>
                                <div id="finNode_{{ account.id }}"
                                     class="sm-category_icon-wrapper">
                                    <div class="sm-category_fill"></div>
                                    <div class="sm-category_icon sm-category_icon-cash"></div>
                                </div>
                                <div class="sm-category_amount">
                                    <div class="sm-category_actual-amount">{{ account.currency }} {{ account.amount }}
                                    </div>
                                </div>
                            </div>
                            <script>
                                $('#finNode_' + {{ account.id }}).on('click', (event) => goToPage('account/' + {{ account.id }}));
                            </script>
                        {% endfor %}
                        <div class="sm-category sm-category_add-category">
                            <a class="sm-category_icon-wrapper modal-trigger"
                               href="#modal2">
                                <div class="sm-category_fill"></div>
                                <div class="sm-category_icon sm-category_icon-plus"></div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="userpage-chart">
                    <div id="chart_account"></div>
                </div>

            </div>
            <div class="sm-dashboard-row">

                <div class="sm-category-block sm-category-card">
                    <div class="sm-category-block_header">
                        <div class="sm-category-block_title">
                            <div class="sm-category-block_name">расходы</div>
                            <div class="sm-category-block_date">апрель 2019
                            </div>
                        </div>

                        <div class="sm-category-block_stats">
                            <div class="sm-category-block_stats-item">
                                <div id="spent_money"
                                     class="sm-category-block_stats-amount"> Br‎
                                    0
                                </div>
                                <div class="sm-category-block_stats-title">
                                    протрачено
                                </div>
                            </div>
                            <div class="sm-category-block_stats-item">
                                <div id="costs_stat"
                                     class="sm-category-block_stats-amount"> Br‎
                                    0
                                </div>
                                <div class="sm-category-block_stats-title">
                                    бюджет расходов
                                </div>
                            </div>
                            <div class="sm-category-block_stats-item">
                                <div class="sm-category-block_stats-amount"> Br‎
                                    0
                                </div>
                                <div class="sm-category-block_stats-title">в
                                    планах
                                </div>
                            </div>
                            <div class="sm-category-block_stats-item">
                                <div class="sm-category-block_stats-amount">
                                    скоро
                                </div>
                                <div class="sm-category-block_stats-title">
                                    прогноз расходов
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="cost_table" class="sm-category-block_body">
                        {% for cost in COSTS %}
                            <div class="sm-category sm-category_expense sm-category_color_green">
                                <div class="sm-category_title">
                                    {{ cost.name }}
                                </div>
                                <div id="finNode_{{ cost.id }}"
                                     class="sm-category_icon-wrapper">
                                    <div class="sm-category_fill"
                                         style="height: 100%"></div>
                                    <div class="sm-category_icon sm-category_icon-car"></div>
                                </div>
                                <div class="sm-category_amount">
                                    <div class="sm-category_actual-amount">{{ cost.currency }} {{ cost.amount }}
                                    </div>
                                    <div class="sm-category_plan-amount">{{ cost.monthly_plan }}</div>
                                </div>
                            </div>
                            <script>
                                $('#finNode_' + {{ cost.id }}).on('click', (event) => goToPage('cost/' + {{ cost.id }}));
                            </script>
                        {% endfor %}
                        <div class="sm-category sm-category_add-category">
                            <a class="sm-category_icon-wrapper modal-trigger"
                               href="#modal3">
                                <!-- Modal Trigger -->
                                <div class="sm-category_fill"></div>
                                <div class="sm-category_icon sm-category_icon-plus"></div>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="userpage-chart">
                    <div id="chart_cost"></div>
                </div>

            </div>
            <div class="sm-dashboard-column">


            </div>

            <div class="sm-dashboard-column">

                {#                <div class="sm-category-block sm-category-card">#}
                {##}
                {#                    <div class="sm-category-block_header">#}
                {#                        <div class="sm-category-block_title">#}
                {#                            <div class="sm-category-block_name">Транзакции</div>#}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {#                    <div class="sm-transaction-block">#}
                {#                        {% for transaction in TRANSACTIONS %}#}
                {#                            {% include 'transaction/transaction.html' with transaction=transaction %}#}
                {#                        {% endfor %}#}
                {#                    </div>#}
                {#                </div>#}

            </div>
        </div>
    </div>

    <!-- Modal Доходы -->
    <div id="modal1" class="modal sm-modal">
        {% include 'income/create_modal.html' %}
    </div>

    <!-- Modal Счета -->
    <div id="modal2" class="modal sm-modal">
        {% include 'account/create_account.html' %}
    </div>

    <!-- Modal Расходы -->
    <div id="modal3" class="modal sm-modal">
        {% include 'cost/create_cost.html' %}
    </div>

    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="{% static 'main/scripts/api/drawCharts.js' %}"></script>
    <script>

        var options = {
            title: 'Motivation Level Throughout the Day',
            legend: {position: "none"},
        };

        google.charts.load('current', {packages: ['corechart', 'bar']});

        let drawIncome = () => {
            let chart_income = new google.visualization.ColumnChart(
                document.getElementById('chart_income'));
            let data1 = google.visualization.arrayToDataTable(parse_data('{{ data_income }}'));
            chart_income.draw(data1, options);
        };
        let drawAccount = () => {
            let chart_account = new google.visualization.ColumnChart(
                document.getElementById('chart_account'));
            let data2 = google.visualization.arrayToDataTable(parse_data('{{ data_account }}'));
            chart_account.draw(data2, options);
        };
        let drawCost = () => {
            let chart_cost = new google.visualization.ColumnChart(
                document.getElementById('chart_cost'));
            let data3 = google.visualization.arrayToDataTable(parse_data('{{ data_cost }}'));
            chart_cost.draw(data3, options);
        };

        google.charts.setOnLoadCallback(drawIncome);
        google.charts.setOnLoadCallback(drawAccount);
        google.charts.setOnLoadCallback(drawCost);
    </script>
    <script src="{% static 'main/scripts/addNewIncome.js' %}"></script>
    <script src="{% static 'main/scripts/addNewAccount.js' %}"></script>
    <script src="{% static 'main/scripts/addNewCost.js' %}"></script>
    <script src="{% static 'main/scripts/addNewTransaction.js' %}"></script>
    <script src="{% static 'main/scripts/api/convertApi.js' %}"></script>


{% endblock %}


{% block scrypt %}
    $(document).ready(async function(){
    $('.modal').modal();

    // add statistic for income

    await updateIncomeStatistic();
    await updateAccountStatistic();
    await updateCostStatistic();
    // add statistic for income end


    });
{% endblock %}