<div class="sm-dashboard-top">
    <div class="add-transaction_wrapper">
        <div class="add-transaction sm-add-transaction_state_standby">
            <span id="add-transaction_placeholder"
                  class="add-transaction_text add-transaction_placeholder">
                из Кошелька в Продукты 1000 ₽ 12.04.2019 #метка комментарий
            </span>
            <div id="steps" class="transaction-steps">
                <div id="step_1" class="add-transaction_step">
                    <span>из </span>
                    {{ ADD_TRANSACTION_FORM.transaction_from }}
                </div>
                <div id="step_2" class="add-transaction_step">
                    <span>в </span>
                    {{ ADD_TRANSACTION_FORM.transaction_to }}
                </div>
                <div id="step_3" class="add-transaction_step">
                    <span>сколько: </span>
                    {{ ADD_TRANSACTION_FORM.amount }}
                </div>
                <div id="step_4" class="add-transaction_step">
                    <span>дата: </span>
                    {{ ADD_TRANSACTION_FORM.data_from }}
                </div>
            </div>
        </div>

        <button id="add" disabled
                class="sm-add-transaction_submit"></button>
    </div>
</div>


<script>
    const csrftoken = $('input[name="csrfmiddlewaretoken"]').attr('value');
    let header = new Headers();
    header.append('X-CSRFToken', csrftoken);

    let getTransactionSourse = async () => {
        fetch('{% url 'get_transaction_source' %}', {
            method: "GET",
            headers: header,
            credentials: 'same-origin'
        }).then(r => r.json().then(data => ({
            status: r.status, body: data.body
        }))).then(obj => {
            let option = null;
            source_select.children().remove();
            for (i = 0; i < obj.body.length; i++) {
                option = document.createElement('option');
                option.setAttribute('value', obj.body[i].id);
                option.textContent = obj.body[i].name;
                source_select.append(option);
            }
        });
    };

    let getTransactionDestination = (id) => {
        fetch('api/transaction/getdest/' + id, {
            method: "GET",
            headers: header,
            credentials: 'same-origin'
        }).then(r => r.json().then(data => ({
            status: r.status, body: data.body
        }))).then(obj => {
            let option = null;
            destination_select.children().remove();
            for (i = 0; i < obj.body.length; i++) {
                option = document.createElement('option');
                option.setAttribute('value', obj.body[i].id);
                option.textContent = obj.body[i].name;
                destination_select.append(option);
            }
        });
    };

</script>

<script>
    const btn_add = $('#add');
    btn_add[0].setAttribute("disabled", false);

    let fade = document.createElement('div');

    fade.setAttribute('class', 'sm-fade');

    const wrapper = $('.add-transaction_wrapper');
    wrapper.append(fade, wrapper.children()[0]);
    wrapper.children()[0].remove();
    const add_transaction_container = $('.add-transaction');

    const step_1 = $('#steps');

    const source_select = $('#id_transaction_from');
    const destination_select = $('#id_transaction_to');

    getTransactionSourse();
    $('#id_amount').val(100);

    btn_add.on('click', (event)=> {
        let body = {
            transaction_from: $('#id_transaction_from').val(),
            transaction_to: $('#id_transaction_to').val(),
            amount: $('#id_amount').val(),
        };
        console.log(body)
    });

    fade.remove();
    step_1.remove();

    const span = $('#add-transaction_placeholder');

    add_transaction_container.on('click', (event) => {
        if (add_transaction_container.children()[0] == span[0]) {
            wrapper.append(fade, wrapper.children()[0]);
            span.remove();
            add_transaction_container.append(step_1, btn_add);
            btn_add.removeAttr('disabled');
        }
    });

    window.onclick = function (event) {
        if (event.target == fade) {
            $('#add')[0].setAttribute("disabled", false);
            fade.remove();
            step_1.remove();
            add_transaction_container.append(span, btn_add);
        }
    };

    $(document).ready(function () {
        source_select.on('click', (event) => {
            getTransactionDestination(event.target.value)
        });
        getTransactionDestination('1');
    });

</script>