{% load static %}


<script src="{% static 'main/scripts/api/transactionApi.js' %}"></script>
<div class="sm-dashboard-top">
    <div class="add-transaction_wrapper">
        <div class="add-transaction sm-add-transaction_state_standby">
            <span id="add-transaction_placeholder"
                  class="add-transaction_text add-transaction_placeholder">
                из Кошелька в Продукты 1000 ₽ 12.04.2019 #метка комментарий
            </span>
            <div id="steps" class="transaction-steps">
                <div id="step_1" class="add-transaction_step">
                    <span>из </span>
                    {{ ADD_TRANSACTION_FORM.transaction_from }}
                </div>
                <div id="step_2" class="add-transaction_step">
                    <span>в </span>
                    {{ ADD_TRANSACTION_FORM.transaction_to }}
                </div>
                <div id="step_3" class="add-transaction_step">
                    <span>сколько: </span>
                    {{ ADD_TRANSACTION_FORM.amount }}
                </div>
                <div id="choice" class="add-transaction_step">
                    {{ ADD_TRANSACTION_FORM.choice_currency }}
                </div>
                <div id="step_4" class="add-transaction_step">
                    <span style="margin-left: 10px;">дата: </span>
                    {#                    {{ ADD_TRANSACTION_FORM.data_from }}#}
                    <input id="id_date" type="text" class="datepicker">
                </div>
            </div>
        </div>

        <button id="add" disabled
                class="sm-add-transaction_submit {{ button_color }}"></button>
    </div>
</div>

<script src="{% static 'main/scripts/api/transactionInit.js' %}"></script>