{% extends 'base.html' %}
{% load static %}

{% block content %}
    <script src="{% static 'main/scripts/api/transactionApi.js' %}"></script>
    <div class="sm-dashboard">
        <div class="sm-dashboard-body">
            <div class="sm-dashboard-column">
                <div class="sm-update-form z-depth-1">
                    {% include 'forms/update_delete_form_transaction.html' %}
                </div>
            </div>
            <div class="sm-dashboard-column">
                <div class="chart" id="myPieChart"/>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        //const ctx = document.getElementById('myChart');
        let row_data = '{{ data }}';
        row_data = row_data.replace(/&quot;/g, '"');
        row_data = JSON.parse(row_data);
        row_data[1][0] = row_data[1][0].replace(/&#39;/g, '"');
        //let myPieChart = new Chart(ctx, {
        //    type: 'pie',
        //    data: data,
        //    options: {}
        //});

        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            // Define the chart to be drawn.
            var data = new google.visualization.DataTable();
            data.addColumn('string');
            data.addColumn('number');
            data.addRows(row_data);
            var options = {
                'title': 'Влияние транзакции на состояние счета',
                'legend': 'top',
                pieHole: 0.4,
                'height': 400,
                slices: {0: {offset: 0.2}},
                pieStartAngle: 100,
                colors: ['red', 'rgb(255, 162, 47)'],
                fontSize: 14,
                fontName: 'Roboto',
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.PieChart(document.getElementById('myPieChart'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}

{% block scrypt %}
    $(document).ready(function(){
    $('.modal').modal();
    let f = (e) => { e.setAttribute('readonly', true);
    e.removeAttribute('disabled');
    e.value = e.value.replace(/'/g, '');};
    let s = $('input[disabled]');
    s.get().forEach(f);
    });

    let deleteNode = async (id, flag) => {
    const body = {
    'id': id,
    };

    const csrftoken = $('input[name="csrfmiddlewaretoken"]').attr('value');
    let header = new Headers();
    header.append('X-CSRFToken', csrftoken);

    let response = await fetch('{% url 'delete_transaction' %}',
    {
    method: 'PUT',
    body: JSON.stringify(body),
    headers: header,
    credentials: 'same-origin'
    }
    );

    if(response.ok){
    goToPage('/')
    }
    }
{% endblock %}